[submodule "lottery/lib/chainlink-brownie-contracts"]
	path = lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "lottery/lib/solmate"]
	path = lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lottery/lib/foundry-devops"]
	path = lottery/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "ERC20/lib/forge-std"]
	path = ERC20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ERC20/lib/openzeppelin-contracts"]
	path = ERC20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "NFTs/lib/openzeppelin-contracts"]
	path = NFTs/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "NFTs/lib/foundry-devops"]
	path = NFTs/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
